body 
    margin: 0 !important
    padding: 0 !important
    
    
.sectionOne
    background-color: red
    container
    h1
    text-align: center
    color: white

.sectionTwo
    background-color: blue
    
.sectionThree
    background-color: yellow
    
.sectionFour
    background-color: green
    
