body 
    height: 100%
    width: 100%
    
html
    height: 100%
    width: 100%

#headerContainer
    height: 100%
    width: 100%
    .container
        display: flex
        align-items: center
        justify-content: center
    .row
        margin: 20%
    h1
        color: #d11400
        font-size: 5rem
    h2
        color: white
        font-size: 2rem


.col-12
    text-align: center
    
header
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    min-height: auto
    background: url('../images/headerbg.png') center center no-repeat
    background-size: cover
    
.sectionOne
    container
    h1
    text-align: center
    color: white

.sectionTwo
    background-color: blue
    
.sectionThree
    background-color: yellow
    
.sectionFour
    background-color: green
    
