body 
    height: 100%
    width: 100%
    
html
    height: 100%
    width: 100%

#headerContainer
    height: 100%
    width: 100%
    .container
        display: flex
        align-items: center
        justify-content: center
    .row
        margin: 20%
    h1
        color: #d11400
        font-size: 5rem
        //font-family: 'Space Mono', monospace
    h2
        color: white
        font-size: 2rem
        font-family: 'Lato', sans-serif


.col-12
    text-align: center
    
.col-4
    border-style: solid
    border-color: blue
    
header
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    min-height: auto
    background: url('../images/headerbg.png') center center no-repeat
    background-size: cover
    
.profileImg
    border-radius: 50%

#sectionTwo
    background-color: #607D8B
    padding-bottom: 10%
    .container
        //border-style: solid
        //border-color: blue
    h1
        color: white
        font-size: 2rem
        font-family: 'Lato', sans-serif
        margin-top: 5%
        margin-bottom: 10%
    .row
        //border-style: solid
        //border-color: green
        text-align: center
        margin-left: auto
        margin-right: auto
    .col-12
        text-align: center
        //border-style: solid
        //border-color: red
    .gitbtn
        margin-top: 10%
    .btn
        padding-left: 10%
        padding-right: 10%
        padding-top: 2%
        padding-bottom: 2%
        background-color: #ffffff
        border-radius: 0.5rem
        font-size: 1.5rem
    .btn:hover
        font-size: 1.55rem
    a
        color: black
    a:hover
        color: blue
        
        
#sectionThree
    background-color: #9E9E9E
    padding-bottom: 10%
    h1
        color: black
        font-size: 2rem
        font-family: 'Lato', sans-serif
        margin-top: 5%
        margin-bottom: 10%

    
#sectionFour
    background-color: #ffffff
    margin-bottom: 10%
    .container
        //border-style: solid
        //border-color: blue
    h1
        color: #757575
        font-size: 2rem
        font-family: 'Lato', sans-serif
        margin-top: 5%
        margin-bottom: 10%
    .row
        //border-style: solid
        //border-color: green
        text-align: center
        margin-left: auto
        margin-right: auto
    .col-12
        text-align: center
        //border-style: solid
        //border-color: red
        
        
.aboutus
    margin-top: 10%

    
